{% extends 'base.html' %}

{% block content %}

<section class="main-bg">
    <!--section to display background colour-->

    <div class="container">
        <div class="row">
            <div class="col-md-6 log-pad1 log-pad2 mx-auto">
                <!-- form to log in-->
                <div class="card main-bg border border-white">
                    <div class="card-header text-white text-center">
                        Log In
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'login' %}">

                            {% csrf_token %}
                            <div class="form-group">
                                {{ form }}
                            </div>
                            <input type="submit" value="Enter"class="btn btn-primary rounded-pill">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}