{% extends 'base.html' %}


{% block content %}
<section class="main-bg">
    
    <div class="container">
    <div class="row">
        <div class="col-12">
            <form method="POST" action="{% url 'register' %}">

                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <input type="submit" class="btn btn-primary">
            
            </form>
        </div>
    </div>
</div>
<!--form-->

</section>


{% endblock %}