
/* main page*/

.parallax1 {
  background-image: url("../img/home-page.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
    background-image: url("../img/home-page2.jpg");
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  
.desktop-icons {
  padding-left: 2em;
  font-size: 80px;
    
}

.desktop-icons li a i {
  color: #000000;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.desktop-icons li a i:hover {
  color: #8B0000;
}

.padding-icon {
  padding-top: 20em;
  padding-left: 5em;
}

.desktop-text {
  font-size: 20px;
}

/* about map */

#map {
  height: 400px;  /* The height is 400 pixels */
 
}

.map-pad {
  margin-top: 3.4em;
  margin-bottom: 3.3em;
}



/* main colours */

.main-bg {
  background-color: #232222!important;
}

.navfont {
  background-color: #FFFFFF;
}

.form-group input {
  background-color: #F4F1F1!important;
}


/* login+register page */

.form-control {
  margin: 1em 0;
}

.pad-top {
 margin-top: 5em;

}

.pad-bottom {
  margin-bottom: 11.8em;
}

.text-pad {
  margin-top: 2em;
}

.log-pad1 {
  margin-top: 10em;
}

.log-pad2 {
  margin-bottom: 27.3em;
}
