
/* main page*/

.parallax1 {
  background-image: url("../img/home-page.jpg");
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
    background-image: url("../img/home-page2.jpg");
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.main-text {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* about map */

#map {
  height: 400px;  /* The height is 400 pixels */
 
}

.map-pad {
  margin-top: 3.4em;
  margin-bottom: 3.4em;
}


/* main colours */

.main-bg {
  background-color: #232222!important;
}

.navfont {
  background-color: #FFFFFF;
}

.form-group input {
  background-color: #F4F1F1!important;
}

.line-break {
  background-color: #FFFFFF;
}


/* login+register page */

.form-control {
  margin: 1em 0;
}

.pad-top {
 margin-top: 5em;

}

.pad-bottom {
  margin-bottom: 11.8em;
}

.text-pad {
  margin-top: 2em;
}

.log-pad1 {
  margin-top: 10em;
}

.log-pad2 {
  margin-bottom: 27.3em;
}

/* services page */

.card-margin1 {
  margin-bottom: 2.5em;
}

.card-margin2 {
  margin-bottom: 2.7em;
}

.package-marg {
  margin-top: 5em;
}

/* cart */


.cart-pad1 {
  margin-top: 10em;
}

.cart-pad2 {
  margin-bottom: 27.05em;
}



/* stripe */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* error pages */

.error-margin-1 {
  margin-top: 7em;
}

.error-margin-2 {
 margin-bottom: 17.2em;
} 

/* media queries */
@media (min-width: 300px) {
  .carousel .image-size {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 11em;
  }
}

@media (min-width: 768px) {
  .carousel .image-size {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 22em;
  }
}

@media (min-width: 992px) {
  .carousel .image-size {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30em;
  }
}

@media (min-width: 1025px) {
  .carousel .image-size {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 30em;
  }
}