{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--top parallax image-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 parallax1">       
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>test</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 parallax2">       
        </div>
    </div>
</div>




{% endblock %}