{% extends 'base.html' %}

{% load static %}

{% block content %}

<!--top parallax image-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 parallax1">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 desktop-icons">
      <li class="list-inline-item">
        <a target="_blank" href="">
          <i class="fas fa-comment-alt" aria-hidden="true"></i>
          <span class="sr-only">Reviews</span>
          <p class="desktop-text">See why were leading the way</p>
        </a>
      </li>
     
    </div>
    <div class="col-md-4 desktop-icons">
      <li class="list-inline-item">
        <a target="_blank" href="">
          <i class="fas fa-shield-alt" aria-hidden="true"></i>
          <span class="sr-only">Shield</span>
          <p class="desktop-text">Have a look at what's on offer</p>
        </a>
      </li>
    </div>
    <div class="col-md-4 desktop-icons">
      <li class="list-inline-item">
        <a target="_blank" href="">
          <i class="fas fa-user-plus" aria-hidden="true"></i>
          <span class="sr-only">Register</span>
          <p class="desktop-text">Login to access your account</p>
        </a>
      </li>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 parallax2">




    </div>
  </div>
</div>





{% endblock %}