{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<!--top parallax image-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 parallax1" id="img1">
    </div>
  </div>
</div>


<!--clickable links and icons in center of page-->
<div class="container-fluid main-bg">
  <div class="row">
    <div class="col-12 text-center main-bg main-text">
  <h1 class="ml14">
  <span class="text-wrapper">
    <span class="letters text-white secure">Secure Plus</span>
    <span class="line"></span>
  </span>
</h1>
    </div>
  </div>
</div>


<!--bottom parralax image-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 parallax2" id="img1">
    </div>
  </div>
</div>





{% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="{% static 'js/extra.js' %}"></script>
{% endblock %}
