{% extends 'base.html' %}
{% block title %} Contact {% endblock %}

{% block content %}



<section class="main-bg">





    <div class="container">
        <div class="row">
            <!--text at top of page-->



            <div class="col-12 text-white text-center text-pad text-styles">



                <p>Fill in your details below and we will contact you as soon as we can.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pad-top contact-pad mx-auto">
                <!-- form to contact-->
                <div class="card main-bg border border-white">
                    <div class="card-header text-white text-center text-styles">
                        Contact
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'contact' %}">

                            {% csrf_token %}
                            <div class="form-group text-styles">
                                {{ form }}
                            </div>

                            <input type="submit" value="Submit" class="btn btn-primary rounded-pill text-styles">



                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>



{% endblock %}