{% extends 'base.html' %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>One Off Security Check</h1>

        </div>
    </div>
    <div class="row">
        <p>If you are just looking for a once off security check to ensure there are no glaring flaws in your system
            this is the option for you.</p>
        <br>
        <p>A lot of companies will feel cyber security is covered, but we can do a once off assessment to show any
            issues in your system, we will find resolve and recommend what you can do to
            keep on top of security going forward.
        </p>
        <br>
        <p>Some of the areas we will look into are critical infrastructure security, network security, application
            security, information security, cloud security, data loss prevention, and end-user education. </p>
        <br>
        <p>
            <ul>
                <li>Critical infrastructure security: Consists of cyber-physical systems such as electricity grid and
                    water purification systems.</li>
                <li> Network security: Protects internal networks from intruders by securing infrastructure. Examples of
                    network security include the implementation of two-factor authentication (2FA) and new, strong
                    passwords.</li>
                <li> Application security: Uses software and hardware to defend against external threats that may
                    present themselves in an application’s development stage. Examples of application security include
                    antivirus programs, firewalls and encryption.</li>
                <li> Information security: Also known as InfoSec, protects both physical and digital data—essentially
                    data in any form—from unauthorized access, use, change, disclosure, deletion, or other forms of
                    malintent.</li>
                <li> Cloud security: A software-based tool that protects and monitors your data in the cloud, to help
                    eliminate the risks associated with on-premises attacks.</li>
                <li> Data loss prevention: Consists of developing policies and processes for handling and preventing the
                    loss of data, and developing recovery policies in the event of a cyber security breach. This
                    includes setting network permissions and policies for data storage.</li>
                <li>End-user education: Acknowledges that cyber security systems are only as strong as their potentially
                    weakest links: the people that are using them. End-user education involves teaching users to follow
                    best practices like not clicking on unknown links or downloading suspicious attachments in
                    emails—which could let in malware and other forms of malicious software.
        </p>
        </li>
        </ul>

    </div>
    <div class="row">
        {% for package in packages %}
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
            
                <p class="mt-3">{{ product.description }}</p>
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
       {% endfor %}
    </div>
</div>


{% endblock %}