{% extends 'base.html' %}

{% block content %}

<section class='main-bg'>

<div class="container">
    <div class="row">
    <div class="col-12">
        <h1>Packages</h1>

        <P>We offer 3 cyber security packages</P>

        <div class="row">
            {% for package in packages %}
            <div class="col-md-4">
                <div class="card main-bg" style="width: 18rem;">
                    <div class="card-body text-white">
                      <h5 class="card-title">{{ package.name }}</h5>
                      <p class="card-text">{{ package.description }}</p>
                      <p>€{{ package.price }}</p>
                      <a href="#" class="btn btn-primary">Learn More</a>
                      <form class="form-group" method="POST" action="{% url 'add_to_cart' package.id %}">
                        {% csrf_token %}
                     
                        <button class="btn btn-lg text-white"
                                type="submit">Add To Cart</button>
                    </form>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}