{% extends 'base.html' %}

{% block content %}
{% load static %}



<section class='main-bg'>
    <!--section to display background colour-->


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner image-size">
                        <div class="carousel-item active">
                            <img src="{% static 'img/service-1.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/service-2.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'img/service-3.jpg' %}" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-white">We offer three main packages here at secure plus.</p>
            </div>
        </div>

        <div class="row">
            {% for package in packages %}
            <div class="col-md-4">

                <div class="card main-bg">
                    <div class="card-body text-white border border-white">
                        <h5 class="card-title text-center"><u>{{ package.name }}</u></h5>
                        <p class="card-text">{{ package.description }}</p>
                        <p>€{{ package.price }}</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                        <form class="form-group" method="POST" action="{% url 'add_to_cart' package.id %}">
                            {% csrf_token %}

                            <button class="btn btn-lg text-white" type="submit">Add To Cart</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>







</section>


{% endblock %}