{% extends 'base.html' %}

{% block content %}


<!--image displayed to left with clicable text to the right-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="/static/img/test-image.jpg" alt="" class="img-fluid">

        </div>
        <div class="col-md-6">
            <h1>One Off Security Check</h1>
            <p>here at secure plus we offer a once off payment which will allow us to do a thorough look
                over your system and advise of any security flaws
            </p>
        </div>
    </div>



<!--image displayed to the right with clickable text to the left-->    <div class="row">
        <div class="col-md-6">
            <h1>Yearly Cover</h1>
            <p>For an annual fee we can monitor your systems and have 24 hours support....</p>
        </div>
        <div class="col-md-6">
            <img src="/static/img/test-image.jpg" alt="" class="img-fluid">

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="/static/img/test-image.jpg" alt="" class="img-fluid">
        </div>

<!--second image displayed to left with clicable text to the right-->
        <div class="col-md-6">
            <h1>Monthly Cover</h1>
            <p>for a monthly fee we can monitor your systems 24 hours a day. no commitment cancel at any time</p>
        </div>
    </div>
</div>


{% endblock %}