{% extends 'base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}
<section class="main-bg">
    <!--section to display background colour-->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white text-styles ">A little bit about us..</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-white text-styles">
                <!--main text in center of page -->
                <p>Here at Secure Plus we specialise in cyber security, offering a range of products to suit everyone.
                    Established in 2016 we have spent our time quickly asserting ourselves as leaders in the fight
                    against
                    cyber crime.
                </p>
                <p> Located in Dublin, Ireland we have a dedicated team of over 100 staff members and still growing to
                    ensure we can
                    offer round the clock protection for our clients.
                </p>
                <p> In this ever changing industry it seems that online criminal activity is growing by the day so we
                    are constantly ensuring our staff receive the latest training to help protect your business.
                </p>
                <p> We don't just stop at dealing with threats as they come along, we also advise you on how to deal
                    with
                    social engineering and how to have measures in place to prevent any threats surfacing.
                </p>
                <p> If you want to contact us or have any requests for services outside the ones we offer click <a href="{% url 'contact' %}">here.</a>
                </p>
  
 
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <!--map to dispaled at bottom of-->
        <div class="row">
            <div class="col-12 map-pad">
                <div id="map"></div>
            </div>

        </div>

</section>

{% endblock %}
{% block scriptmap %}
<!--script fpr gppgle map api key-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"
    type="text/javascript"></script>
<script src="{% static 'js/map.js' %}"></script>

{% endblock %}