{% extends 'base.html' %}


{% block content %}

<section class="main-bg">



<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card border border-white">
                <div class="card-body main-bg">

                    <form action="{% url 'checkout' %}" method="POST">
                         {% csrf_token %}
                    <div class="form-group">
                        {{ order_form }}
                    </div>
                    <div class="form-grouP">
                        {{ payment_form }}
                        <input type="submit" id="checkout-button"></button>
                    </div>
      
  
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

</section>

 {% endblock %}


