{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block title %} Checkout {% endblock %}

<section class="main-bg">



    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card border border-white">
                    <div class="card-body main-bg">

                        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ order_form }}
                            </div>

                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <div class="card border border-white">
                    <div class="card-body main-bg">
                        <div class="form-group">
                            <label for="card-element">
                                <p class="text-white">Credit or debit card</p>
                              </label>
                            <div id="card-element">
                                
                                <!-- A Stripe Element will be inserted here. -->
                              </div>
                              <div id="card-errors" role="alert"></div>
                            </div>
                            <input type="submit">
                        </div>

                    </div>

                    </form>
                </div>
            </div>
        </div>
        

</section>
{% endblock %}


{% block postloadjs %}
<script src="{% static 'js/stripe.js' %}"></script>
<script type="text/javascript" src="https://js.stripe.com/v3"></script>
<script type="text/javascript">Stripe.publicKey = '{{ public_key }}';</script>


{% endblock %}