{% extends 'base.html' %}


{% block content %}

<section class="main-bg">



<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card border border-white">
                <div class="card-body main-bg">
                    <div class="form-group">
                        {{ order_form }}
                    </div>
                
                <a class="btn btn-primary" href="">Checkout</a>
    
                </div>
            </div>
        </div>
    </div>
</div>

</section>

 {% endblock %}

