{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!--head which contains links for bootstrap, fontawesome and css-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>{% block title %}{% endblock %}</title> <!--title to display on each page-->
</head>

<body class="main-bg">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark main-bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item {{ home }}">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item {{ about }}">
          <a class="nav-link " href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item {{ services }}">
          <a class="nav-link" href="{% url 'services1' %}">Services</a>
        </li>
        <li class="nav-item {{ cart }}">
          <a class="nav-link" href="{% url 'view_cart' %}">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item {{ home }}">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item {{ about }}">
          <a class="nav-link " href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item {{ services }}">
          <a class="nav-link" href="{% url 'services1' %}">Services</a>
        </li>
        <li class="nav-item {{ register }}">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item {{ login }}">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>


  {% if messages %} <!--message alert for each page-->
  {% for message in messages %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>


  {% endfor %}
  {% endif %}

  <!--main page content displayed on extended templates-->
  {% block content %}
  {% endblock %}

  <!--footer-->
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 main-bg">
          <ul class="list-inline d-flex social-links justify-content-center">
            <li class="list-inline-item">
              <a target="_blank" href="https://www.facebook.com/Secure-Plus-107037767918463">
                <i class="fab fa-facebook" aria-hidden="true"></i>
                <span class="sr-only">Facebook</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://www.linkedin.com/in/secure-plus-447b80200/">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
                <span class="sr-only">Linkedin</span>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/SecurePlus5">
                <i class="fab fa-twitter" aria-hidden="true"></i>
                <span class="sr-only">Twitter</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% block scriptjs %}
  <!--jquery scripts for bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>


  {% endblock %}

  {% block scriptmap %} <!--javascript for maps-->
  {% endblock %}

  {% block stripejs %}<!--javascript for stripe-->
  {% endblock %}

  {% block extrajs %}<!--javascript for addition content-->
  {% endblock %}


</body>

</html>